@page
@model Administración_de_Propiedades.Pages.Contratos.CreateModel
@{
    ViewData["Title"] = "Create Contrato";
}

<h1>Create Contrato</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contrato.IdPropiedad" class="control-label"></label>
                <select asp-for="Contrato.IdPropiedad" asp-items="ViewBag.Propiedades" class="form-control"></select>
                <span asp-validation-for="Contrato.IdPropiedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.IdInquilino" class="control-label"></label>
                <select asp-for="Contrato.IdInquilino" asp-items="ViewBag.Inquilinos" class="form-control"></select>
                <span asp-validation-for="Contrato.IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.FechaInicio" class="control-label"></label>
                <input asp-for="Contrato.FechaInicio" type="date" class="form-control" />
                <span asp-validation-for="Contrato.FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.FechaFin" class="control-label"></label>
                <input asp-for="Contrato.FechaFin" type="date" class="form-control" />
                <span asp-validation-for="Contrato.FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.Deposito" class="control-label"></label>
                <input asp-for="Contrato.Deposito" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Contrato.Deposito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrato.Terminos" class="control-label"></label>
                <textarea asp-for="Contrato.Terminos" class="form-control"></textarea>
                <span asp-validation-for="Contrato.Terminos" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
