@page
@model Administración_de_Propiedades.Pages.Inquilinos.EditModel
@{
    ViewData["Title"] = "Edit Tenant";
}

<h1>Edit Tenant</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inquilino.IdInquilino" />

            <div class="form-group">
                <label asp-for="Inquilino.Nombre" class="control-label"></label>
                <input asp-for="Inquilino.Nombre" class="form-control" />
                <span asp-validation-for="Inquilino.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inquilino.Apellido" class="control-label"></label>
                <input asp-for="Inquilino.Apellido" class="form-control" />
                <span asp-validation-for="Inquilino.Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inquilino.Telefono" class="control-label"></label>
                <input asp-for="Inquilino.Telefono" class="form-control" />
                <span asp-validation-for="Inquilino.Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inquilino.Email" class="control-label"></label>
                <input asp-for="Inquilino.Email" class="form-control" />
                <span asp-validation-for="Inquilino.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inquilino.IdPropiedad" class="control-label"></label>
                <select asp-for="Inquilino.IdPropiedad" class="form-control" asp-items="Model.PropiedadOptions"></select>
                <span asp-validation-for="Inquilino.IdPropiedad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.RenderPartialAsync("_ValidationScriptsPartial")
}
